# MongoDB Connection URI
MONGODB_URI=mongodb://localhost:27017/kazi-office

# JWT Secret Key
JWT_SECRET=super-secret-kazi-key

# Used for DOCX -> PDF conversion (CloudConvert)
CLOUDCONVERT_API_KEY=

# Optional: future remote storage integration token
BLOB_READ_WRITE_TOKEN=

NODE_ENV=development
